

<div class="bg-blue-700 text-white flex p-3 gap-5"> 
<div>
<%= link_to new_user_session_path do%>
<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
  <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5L3 12m0 0l7.5-7.5M3 12h18" />
</svg>
<%end%>
</div>
<h2 class="ml-20">Sign up</h2>
</div>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

  <%= render "devise/shared/error_messages", resource: resource %>
<div class="flex flex-col gap-2 mt-2"> 
 <div class="fields">
    
    <%= f.text_field :name, autofocus: true, autocomplete: "name" , placeholder: "Full name"%>
  </div>

  <div class="fields">
   
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email" %>
  </div>

  <div class="field">
 
   
    <%= f.password_field :password, autocomplete: "new-password", placeholder: "Password"  %>
  </div>

  <div class="field">
   
    <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Confirm password"  %>
  </div>

  <div class="actions bg-blue-700 text-white p-3 w-40 flex justify-center">
    <%= f.submit "Sign up" %>
  </div>
</div>
<% end %>
</div>
<div class="flex justify-center flex-col gap-0 text-gray-500"> 
<%= render "devise/shared/links" %>
</div>

</div>
