<div class="w-full">
  <div class="bg-blue-700 text-white flex  p-3">
  <%= link_to categories_path do%>
<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
  <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5L3 12m0 0l7.5-7.5M3 12h18" />
</svg>
<%end%>
    <p class="font-bold text-xl ml-20">Transactions</p>
  </div>

</div>
<div>
<%sum = 0%>
<% @transactions.each do |transaction|%>
  <%sum += transaction.entities.amount%>
<%end%>
<p class="flex items-center bg-white m-2 gap-3 text-lg h-10">Total Amount: <%= sum%></p>
</div>
 <div>  
    <% @transactions.each do |transaction|%>
    <div class=" bg-white m-2 px-5">
    <div class="flex items-center gap-3  text-xl">
    <p><%= transaction.entities.name %></p>
    <p><%= '$' %><%= transaction.entities.amount %><p>
    </div> 
    <p>Transaction Date: <%= transaction.entities.created_at.strftime("%D") %><p>
    <p>Transaction Time: <%= transaction.entities.created_at.strftime("%H:%M") %><p>
    </div>
    <%end%>
  </div>
<div class="bg-blue-700 text-white p-3 mx-14 flex justify-center mt-3">
    <%= link_to 'Add a new transaction', new_category_transaction_path(@group_id) %>
  </div>